# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/*
chart_now.egg-info/*
core/chart_now.egg-info/*
/swisseph-master/*
pyvenv.cfg
experiments/*
*.pyc
example_charts.py
resources/*
test.py
Varga - amsa devatā.csv
All vargas table.csv
.vscode/*
mergedExample*
private_charts.py
